<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Enviar parámetros del Request HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parámetros del Request HTTP GET - URL</h1>

	<ul>

		<li><a th:href="@{/params/string(texto='Hola Leonardo')}">/params/string?texto=Hola
				Leonardo</a></li>
		<li><a th:href="@{/params/string(texto='Hola Leonardo')}">/params/string?texto=Qué
				tal Tony!</a></li>
		<li><a
			th:href="@{/params/mix-params(saludo='Cómo estás Leonardo', numero=7)}">/params/mix-params?saludo=Cómo
				estás Leonardo &numero=7</a></li>
		<li><a
			th:href="@{/params/mix-params-request(saludo='Cómo estás Leonardo', numero=7)}">/params/mix-params-request?saludo=Cómo
				estás Leonardo &numero=7</a></li>
	</ul>

</body>
</html>