<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Recibir parámetros del Request HTTP GET - URL</title>
</head>
<body>
<h1>Recibir parámetros del Request HTTP GET - URL</h1>
<div th:text="${resultado}"  >   </div>

</body>
</html>