<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<ul>
<li><a th:href="@{/variables/string/} + 'Hola Leonardo'">/variables/string/Hola Leonardo</a></li>
<li><a th:href="@{/variables/string/} + 'Qué tal Jhon'">/variables/string/Qué tal Jhon</a></li>
<li><a th:href="@{/variables/string/} + 'Saludos Leonardo' + '/' +  7">/variables/string/Saludos Leonardo / 7</a></li>
</ul>
	
</body>
</html>