<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8"/>

<title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<div th:text="${resultado}"></div>
</body>
</html>