<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<span th:text="${usuario.nombre}"></span>
	<span th:text="${usuario.apellido}"></span>
	<br>
	<span th:if="${usuario.email}" th:text="${usuario.email}"> </span>
	<br>
	<span th:if="${usuario.email == null}">El usuario no tiene
		correo</span>

</body>
</html>